<?xml version="1.0"?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging" switchValue="Warning, ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelMessageLoggingListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source name="System.ServiceModel" switchValue="Verbose,ActivityTracing" propagateActivity="true">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelTraceListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="c:\logs\aspnettest_messages.svclog" type="System.Diagnostics.XmlWriterTraceListener" name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
      <add initializeData="c:\logs\aspnettest_tracelog.svclog" type="System.Diagnostics.XmlWriterTraceListener" name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
    </sharedListeners>
  </system.diagnostics>
  <appSettings>
    <add key="HashTag.Application.Key" value="WcfClientTests" />
    <add key="HashTag.Application.Environment" value="Testing" />
    <add key="HashTag.ApplicationServices.Uri" value="http://localhost:56671/AppService.svc" />
    <add key="HashTag.ApplicationServices.ClientEndPointName" value="HashTagApplicationServiceEndpoint" />
    <add key="HashTag.Logging.Default.LogFolder" value="c:\logs" />
  </appSettings>
  <system.web>
    <membership defaultProvider ="HashTagMembershipProvider">
      <providers>
        <clear />
        <add name="HashTagMembershipProvider" serviceUri="{%app:HashTag.ApplicationServices.Uri%}" clientEndPointName="{%app:HashTag.ApplicationServices.ClientEndPointName%}" type="HashTag.ApplicationServices.Wcf.WcfMembershipProvider, HashTag.ApplicationServices.Client" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="HashTagRoleProvider">
      <providers>
        <clear />
        <add name="HashTagRoleProvider" serviceUri="{%app:HashTag.ApplicationServices.Uri%}" clientEndPointName="{%app:HashTag.ApplicationServices.ClientEndPointName%}" type="HashTag.ApplicationServices.Wcf.WcfRoleProvider, HashTag.ApplicationServices.Client" />
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <diagnostics>
      <messageLogging logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" />
    </diagnostics>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IWcfApplicationService" />
        <binding name="BasicHttpBinding_IWcfApplicationService1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint name="HashTagApplicationServiceEndpoint" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWcfApplicationService" contract="HashTag.ApplicationServices.IWcfApplicationService" />
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
</configuration>